*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}
img:hover{
  cursor: pointer;
}
.pc-choice img{
  display: none;
}
#you-win{
  display: none;
  font-size: 10vw;
  padding: 5vw;
  text-align: center;
}
#you-lose{
  display: none;
  font-size: 10vw;
  padding: 5vw;
  text-align: center;
}
#tie{
  display: none;
  font-size: 10vw;
  padding: 5vw;
  text-align: center;
}