*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}
.result{
  display: none;
}
img:hover{
  cursor: pointer;
}
.pc-choice img{
  display: none;
}