*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(./img/Rock\ Scissors\ Paper\ Title.gif);
  background-repeat: repeat-x;
  background-origin: border-box;
  background-blend-mode: over;
  background-size: 20%;
  background-position: 0px 170px;
}

header{
  padding: 10px;
  font-size: 2vw;
}
p{
  font-size: 1.5vw;
  padding: 10px;
}
button{
  padding: 10px;
  font-size: 2vw;
  border-style: dotted;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.797);
}
button:hover{
  cursor: pointer;
}
.intro{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px dashed #103d6d;
  padding: 10vh;
  background-color: rgb(248, 216, 170, 80%);
  color: black;
  text-align: center;
  border-radius: 30px;
}
