*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(../img/Paper.png), url(../img/Rock.png), url(../img/Scissors.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
.intro{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
